:root {
	--dimensaoElemento: 35px;
	--elementosPorColuna: 10;
	--primeiraCor: seagreen;
	--segundaCor: tomato;
}

* {
	font-family: monospace;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--primeiraCor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--segundaCor);
}

::-moz-selection { /* para Firefox */
    background-color: var(--primeiraCor);
    color: white;
  }
  
::selection {
	background-color: var(--primeiraCor);
    color: white;
}

body {
	padding: 0;
	margin: 0;
	background-color: #111;
	background: url('../media/bg1.jpg');
	overflow: hidden;
	background-size: 250%;
	animation: moveBg 10s infinite;
}

.alinhados-verticalmente {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 250px;
}

.alinhados-horizontalmente {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}

table {
	border-collapse: collapse;
	color: #fff;
}

table caption {
	margin-top: 2rem;
	color: #606060;
	font-weight: bolder;
}

table td, th {
	border: 1px solid #fff;
	padding: .5rem;
}

tr {
	background-color: var(--segundaCor);
}

th {
	background-color: #212121;
}

.linha-verdadeira-tabela {
	background-color: var(--primeiraCor);
}

#elementosPagina {
	display: none;
}

#toast {
	position: fixed;
	top: 2.5%;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #000;
	box-shadow: 0 0 100px #fff;
	z-index: 10000;
	display: none;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}

#toast img {
	width: 25px;
	height: auto;
}

#capturouMonstro {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: #000;
	padding: 1rem;
	border-radius: 1rem;
	border: 3px solid #fff;
	box-shadow: 0 0 100px #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.5rem;
	color: #fff;
	display: none;
}

.alinhados {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ilustracao {
	width: 100px;
}

.bg-modal {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #fff;
	padding: 2rem;
	border-radius: 1rem;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 90vh;
	width: 90%;
	position: relative;
}

.icone-fechar-modal {
	display: block;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 2rem;
	cursor: pointer;
}

.modal #logo {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#modalFinal {
	display: none;
}

#opcaoAjuda:hover, #opcaoMenu:hover {
	cursor: pointer;
	text-decoration: underline;
}

.container-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.container-modal .divsAbertura {
	width: 100%;
}

.container-modal div table {
	margin: 0 auto;
}

.div-inputs-configuracao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 25%;
	border: 1px dashed #ccc;
	margin: 1rem auto;
}

.conquista {
	background-color: #eee;
	padding: 1rem;
	border-radius: 1rem;
	color: #606060;
	text-transform: uppercase;
	text-shadow: 0 0 50px black;
	font-weight: bolder;
}

.conquista img {
	max-width: 25px;
	height: auto;
	border-radius: 50%;
}

.grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-gap: 1px;
	margin: 1rem 0;
	grid-gap: 1rem;
	width: 100%;
}

.item {
	outline: 2px solid #ccc;
	padding: 1rem;
	border-radius: 1rem;
}

.titulo-item {
	margin-bottom: 0;
	color: var(--primeiraCor);
	text-transform: uppercase;
	font-size: 1.25rem;
}

.img-item {
	height: 150px;
	width: auto;
	border-radius: 1rem;
	margin: 1rem 0;
}

.descricao-item {
	margin-top: 0;
	color: #606060;
	text-transform: uppercase;
}

.preco, #saldo span {
	color: var(--segundaCor);
	font-weight: bolder;
}

#saldo {
	font-size: 2rem;
}

.grupo-conquistas {
	outline: 2px dashed #ccc;
	padding: 1rem;
	margin: 1rem auto;
}

/* info do usuário */

#infoJogador {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	outline: 3px dashed var(--segundaCor);
	padding: 1rem;
	margin: 1rem;
}

#infoJogador p {
	margin: 0;
}

#infoJogador p {
	font-weight: bolder;
}

#infoJogador p span {
	color: #606060;
}

#nomeFotoJogador {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #eee;
	padding: 1rem;
	margin-bottom: 2rem;
}

#fotoJogador {
	max-height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-right: 1rem;
	outline: 5px solid var(--primeiraCor);
}

#nomeJogador {
	text-transform: uppercase;
	font-weight: bolder;
}

#tituloJogador {
	color: #606060;
}

.container-barra-progresso {
	margin-top: 2rem;
	outline: 1px solid #ccc;
	height: 25px;
	width: 50%;
	border-radius: 1rem;
	overflow: hidden;
}

.barra-progresso {
	width: 50%;
	height: 100%;
	background-color: var(--primeiraCor);
}

#mensagemUpou {
	position: fixed;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000;
	box-shadow: 0 0 100px green;
	padding: 1rem;
	text-align: center;
	width: 75%;
	border-radius: 1rem;
	display: none;
	color: #fff;
	font-size: 2rem;
	border: 3px solid #fff;
	z-index: 999;
}

#divMonstrosCapturados .bloqueado {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

input[type="number"], input[type="text"] {
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 1.25rem;
	width: 35%;
	color: var(--primeiraCor) !important;
	font-weight: bolder !important;
	text-align: center;
}

input[type="number"]:focus, input[type="text"]:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
}

.explicacao {
	color: #606060;
	font-size: .75rem;
}

h2#abrirComoJogar {
	margin-top: 1rem;
}

h2, h3 {
	padding: 1rem;
	color: #fff;
	margin: 0;
	text-align: center;
	border-left: 3px solid #eee;
	border-bottom: 3px solid #fff;
	width: 100%;
}

h2:hover {
	opacity: .75;
	cursor: pointer;
	border-left: 3px solid var(--segundaCor);
	border-bottom: 3px solid var(--segundaCor);
}

h2 {
	background-color: var(--primeiraCor);
}

h3 {
	background-color: var(--segundaCor);
	margin-top: 1rem;
}

#modalInicial input, #modalInicial label {
	color: #212121;
	cursor: pointer;
}

#modalInicial #iconeModalInicial {
	position: fixed;
	top: 5%;
	right: 5%;
	font-size: 2rem;
}

#creditos {
	font-size: .75rem;
	margin: 3rem 0 0 0;
	color: #606060;
}

#creditos p {
	margin: 0;
}

a {
	color: var(--primeiraCor);
	text-decoration: none;
	font-weight: bolder;
}

@keyframes moveBg {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 0% 50%;
	}
	75% {
		background-position: 50% 75%;
	}
	90% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}

#jogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, .9);
	overflow: hidden;
	border-radius: 1rem;
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	font-size: 1.5rem;
	margin-top: 1rem;
}

#estrelas {
	font-size: 3rem;
}

#estrelas #comentarioEstrelas {
	display: block;
	margin-bottom: 1rem;
	text-align: center;
	color: #fff;
}

@keyframes moveTempo {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

i.estrela {
	color: yellow;
}

.bi-star-fill {
	display: inline-block;
	animation: pulso 1s infinite;	
}

@keyframes pulso {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}

#output, #input, #solucaoPerfeita {
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	background-color: #aaa;
	text-align: center;
	font-weight: bolder;
	line-height: 200%;
}

#input, #solucaoPerfeita {
	display: grid;
	grid-template-columns: repeat(var(--elementosPorColuna), 1fr);
}

.input, .input-solucao-perfeita {
	cursor: pointer;
	user-select: none;
}

#input {
	background-color: #000;
	color: var(--segundaCor);
	border-top: 1px solid white;
}

.input {
	border-right: 1px solid white;
}

.input:last-child {
	border: none;
}

#output {
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
}

#circuito {
	display: grid;
	grid-template-columns: repeat(var(--elementosPorColuna), 1fr);
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	text-align: center;
}

#circuito div, #circuito img {
	height: var(--dimensaoElemento);
	width: var(--dimensaoElemento);
	color: #aaa;
}

.espacoElemento {
	background-size: cover;
}

#mensagem {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: brown;
	color: #fff;
	padding: 1.5rem;
	font-size: 2rem;
	border-radius: 1rem;
	width: 75%;
	text-align: center;
	box-shadow: 0 0 100px black;
	border: 5px solid #fff;
	z-index: 10;
}

#infoMusica {
	z-index: 5;
	background-color: var(--primeiraCor);
	color: #fff;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid #fff;
	position: fixed;
	top: 50%;
	left: 90%;
	transform: translate(-90%, -50%);
	width: 10vw;
	display: none;
}

/* info jogo */

i.tempo {
	color: var(--segundaCor);
	animation: moveTempo 2s infinite;
	display: inline-block;
}

i.pontuacao {
	color: var(--primeiraCor);
}

i.bateria {
	color: dodgerblue;
}

.infoJogo {
	font-size: 3rem;
}

.infoJogo p {
	color: #fff;
	margin: 5px;
}

#pMusica, #pFase, #pDesempenho, .pGenerico {
	color: #fff;
	padding: .75rem;
	border-radius: 1rem;	
}

#pMusica {
	background-color: dodgerblue;
}

#pFase {
	background-color: var(--primeiraCor);
}

#pDesempenho {
	background-color: orange;
}

.pGenerico {
	outline: 1px solid white;
	text-align: center;
}

.pocoes img {
	width: 25px;
	height: auto;
}

#opcaoMenu {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	margin: 0;
	font-size: 2rem;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	border-radius: 0 0 0 1rem;
}

#play {
	cursor: pointer;
}

/* botões */
button {
	background-color: var(--primeiraCor);
	color: #fff;
	padding: 1rem;
	border: none;
	border-radius: 1rem;
}

button:hover {
	cursor: pointer;
	transition: 1s;
	opacity: .75;
}

#btnCompartilharPerfil {
	margin-top: 1rem;
}

#btnProximo, #estrelas {
	display: none;
}

#btnProximo {
	position: fixed;
	bottom: 2%;
	right: 2%;
}

#btnJogar, #btnProximo {
	background: linear-gradient(to right, var(--segundaCor), var(--primeiraCor));
	font-size: 3rem;
}

#btnJogar:hover, #btnProximo:hover {
	background: linear-gradient(to left, var(--segundaCor), var(--primeiraCor));
	transform: scale(1.1);
	opacity: 1;
}

.botao-item {
	background: none;
	background-color: var(--primeiraCor);
	box-shadow: none;
	font-size: 1rem;
}

.botao-item:hover {
	background: none;
	background-color: var(--primeiraCor);
	opacity: .75;
}

#btnVoltar {
	background-color: dodgerblue;
	display: none;
	font-size: 3rem;
	margin-left: 1rem;
}

#btnExcluirPerfil {
	background-color: var(--segundaCor);
}

#btnExcluirPerfilCerteza {
	background-color: brown;
	display: none;
}

#resumoConfiguracoes {
	color: #606060;
	text-transform: uppercase;
	margin: 1rem 0;
}

@media (min-width: 1500px) {
	:root {
		--dimensaoElemento: 50px;
	}
	.infoJogo {
		font-size: 5rem;
	}

	#output, .input {
		height: 50px;
		font-size: 3rem;
		line-height: 150%;
	}

	.input, #ouput {
		font-size: 3rem !important;
	}

	#modalInicial {
		font-size: 2rem;
	}
}

@media (max-width: 1000px) {
	:root {
		--dimensaoElemento: 35px;
	}

	body {
		overflow: scroll;
	}

	#opcaoMenu {
		background-color: #000;
		color: #fff;
		padding: .5rem;
		margin: 0;
		font-size: 2rem;
		text-align: center;
		position: relative;
		top: 0;
		right: 0;
		border-radius: 0;
	}

	.alinhados {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#jogo {
		margin-top: .5rem;
	}

	#btnJogar, #btnVoltar {
		font-size: 1.5rem;
	}

	.div-inputs-configuracao {
		width: 100%;
	}

	.infoJogo {
		margin-top: 1px;
		display: flex;
		justify-content: space-around;
		align-items: space-around;
		width: 100%;
	}

	.pocoes img {
		width: 15px;
	}

	#pMusica, #pFase, #pDesempenho, .pGenerico {
		padding: .25rem;
	}

	#estrelas {
		position: fixed;
		width: 75%;
		font-size: 2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, .9);
		padding: 1rem;
		border-radius: 1rem;
		border: 2px solid #fff;
		text-align: center;
	}

	#infoMusica {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}

	.infoJogo {
		font-size: 1rem;
	}

	#output, .input {
		height: 35px;
		font-size: 1.25rem;
		line-height: 250%;
	}

}

.esconde {
	display: none;
}

@media (max-width: 300px) {
	:root {
		--dimensaoElemento: 25px;
	}
	.infoJogo {
		font-size: 1rem;
	}

	.input, #ouput {
		font-size: 1rem !important;
	}

	.alinhados {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: auto;
	}
}